body{
    background-color: rgb(125, 156, 167);
    font: bolder 15pt arial;
    color: white;
}

header{
    text-align: center;
}

section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    color: black;
    margin: auto;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.452);
    transition: 1s;
}

section:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.452);
    transition: 0.5s;
}

@media (max-width: 570px) {
    section{
        max-width: 400px;
        transition: 1s;
    }
}

#msg, div, footer{
    text-align: center;
}

#imagem{
    width: 200px;
    height: 200px;
}
